.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--white-base-color);
  letter-spacing: 0.03em;
  margin: 0 0 20px 0;
  display: inline-block;
}