.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  padding: 25px 0;

  &:not(:last-child) {
    margin: 0 93px 0 0;
  }
}

.logo__link {
  color: #000;

  & span {
    color: var(--blue-accent-color);
  }
}